.navbar-light .navbar-text {
  color: white;
}
.navbar {
  text-align: center;
  display: block;
  margin-bottom:20px;

}

#citiesContainer{
  background-color: lightgray;
  min-height: 300px;
  padding:15px;
}
#cityRow {
  margin-left: 0;
  margin-right:0;

}
#cityBlock {
  margin-left: 0;
  margin-right:0;
  
}
#forcastCol{
  padding-left: 30px;
  margin-top: 10px;
  padding-right: 30px;
}
#cityDisplay{
  border-style: solid;
  border-color: lightgrey;
  border-radius: 3px;
  border-width: 1px;
  padding-left: 10px;
}

.historyEl {
  text-align: center;
  width: 100%;
  padding: 3px 0px;
  margin: 3px 10px;
  background-color:white;
  border-width: 1px;
  border-style: solid;
  border-color: slategray;
  border-radius: 5px;
  
}
#fiveDay {
  margin-left: 0;
  margin-right: 0;
}
#forcastCard{
  background-color:  #0041C2;
  border-width: 1px;
  border-style: solid;
  border-color: lightslategray;
  border-radius: 10px;
  margin: 5px;
  color: white;
  font-size: small;
}